.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}
.modal .modal-content {
    width: 600px;
    max-height: 600px;
    margin: auto;
    box-shadow: 1px 3px 29px 2px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 1px 3px 29px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 1px 3px 29px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: fixed;
    transition: all 400ms ease;
    border-radius: 7px;
}
.modal .modal-content .body {
    position: relative;
    /* max-height: 600px; */
    overflow-y: auto;
}
.p-4 {
    padding: 20px !important;
}
#Modal {
    color: #3e3e3d;
}
#Modal p {
/* font-size: 0.9rem; */
}
#Modal .prokes-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 5px 0;
    margin-top: 15px;
}
#Modal .prokes-footer .btn-ok-prokes {
    border: 1px solid #1c1c1c;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 30px;
    background: #222121;
    font-size: 0.95rem;
}
#Modal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left:-50px;
}
#Modal ul li {
    margin-bottom: 10px;
}
#Modal ul li .item {
    width: 100px;
    height: 100px;
    line-height: 1rem;
    font-size: 1rem;
    margin: 0 5px;
    color: #3e3e3d;
}
#Modal ul li .item img {
    width: 90px;
    margin-bottom: 7px;
}
#Modal .top-border {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}
#Modal .bottom-border {
    width: 200px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border-radius: 5px;
}
#Modal .bottom-sign {
    width: 200px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: #bfbfbf;
    border-radius: 5px;
    text-align: center;
}
#Modal .bottom-sign h3 {
/* font-family: "Style Script", cursive; */
    font-weight: 300;
}
.gla_flower2pink:after {
	background: url(../img/invitation/flower2_pink.png);
	width: 485px;
	height: 485px;
	-webkit-background-size: cover;
	background-size: cover;
	display: block;
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	margin: -60px 0 0 -55px;
	-webkit-animation: flower_rotate 425s infinite linear;
  animation: flower_rotate 425s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.gla_flower2pink:before {
	display: block;
	content: '';
	background: url(../img/invitation/bird_pink.png);
	width: 120px;
	height: 115px;
	position: absolute;
	z-index: 2;
	-webkit-background-size: cover;
	background-size: cover;
	bottom: 0;
	right: 0;
}
.gla_flower2pink_name_l {
	position: absolute;
	font:400 70px/70px marsha;
	right: 100%;
	top: 50%;
	transform:translateY(-50%);
	margin-right: 80px;
}
.gla_flower2pink_name_r {
	position: absolute;
	font:400 70px/70px marsha;
	left: 100%;
	top: 50%;
	transform:translateY(-50%);
	margin-left: 80px;
}
.gla_flower2pink_name_l b,
.gla_flower2pink_name_r b {
	font:400 20px/20px Dosis;
	position: relative;
	display: block;
}
.gla_flower2pink {
	width: 300px;
	height: 300px;
}
.gla_flower2pink img {
	width: 250px;
	height: 250px;
	max-width: 250px!important;
	left: 50%;
	top: 50%;
	transform:translateX(-50%) translateY(-50%);
}
.gla_flower2pink:before {
	width: 60px;
	height: 55px;
}
.gla_flower2pink:after {
	width: 320px;
	height: 320px;
	margin: -10px 0 0 -15px;
}
.mobile .gla_flower2pink_name_l,
.mobile .gla_flower2pink_name_r {
	display: none;
}
.tablet.portrait .gla_flower2pink_name_l {
	margin-right: 20px;
}
.tablet.portrait .gla_flower2pink_name_r {
	margin-left: 20px;
}